/*==========  section header ==========*/
header {
  padding: 33px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3; }
  header .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  header a {
    font-size: 27px;
    font-weight: bold;
    color: #fff; }
    header a:hover {
      color: #1955ff; }

.logo {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 354px;
  width: 100%; }

/*==========  section header end  ==========*/
