/*==========  Desktop First  ==========*/
@media only screen and (max-width: 1300px) {
  .home-img {
    max-width: 900px; }
  .advantages {
    margin: 149px 0 47px; }
    .advantages h2 {
      margin: 0 auto 136px; } }

@media only screen and (max-width: 1200px) {
  .col-4 {
    width: 50%; }
  .for-whom-box {
    text-align: center;
    margin: 0 0 72px; }
    .for-whom-box__icon {
      margin: 0 auto 36px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .for-whom-box br {
      display: none; }
    .for-whom-box__text {
      max-width: 490px;
      margin: 0 auto; }
  .about-course {
    margin: 51px auto 112px;
    letter-spacing: -0.4px; }
    .about-course h3 {
      margin: 0 auto 98px; }
  .list-check li {
    padding: 0 0 0 90px;
    width: 100%;
    margin: 0 0 43px; }
    .list-check li:nth-child(even) {
      width: 100%; }
    .list-check li:first-child, .list-check li:nth-child(3) {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1; }
  .advantages-box {
    margin: 0 0 118px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .advantages-box__text {
      max-width: 350px; }
      .advantages-box__text br {
        display: none; }
  .col-2 {
    width: 100%; }
  .teacher-photo {
    max-width: 500px; }
  .teacher-content {
    width: calc(100% - 500px);
    padding: 0 20px 0 0; }
  .steps-box {
    margin: 0 auto 222px;
    padding: 0 0 100px;
    position: relative; }
    .steps-box .number {
      right: auto;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      bottom: 0;
      top: auto; }
  .steps-box2 {
    margin: 0 auto;
    padding: 100px 0 0; }
    .steps-box2 .number {
      top: 10px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0); }
  .col-3 {
    width: 50%; }
  .payments {
    padding: 167px 0 90px; }
    .payments .col-3 {
      margin: 0 0 90px; }
  .payments-card {
    max-width: 420px;
    margin: 0 auto; }
  .callback {
    padding: 152px 0 157px; }
    .callback .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .callback .btn {
      margin: 39px auto 0; }
    .callback h3 {
      text-align: center; }
      .callback h3 strong {
        display: block; }
  footer {
    margin: 0 0 766px; }
    footer .box-text {
      margin: 52px auto 137px;
      max-width: 540px; }
  body:before {
    height: 6423px;
    background: url("../img/bg2-tablet.jpg") no-repeat center top;
      background-size: cover; } }

@media only screen and (max-width: 992px) {
  header a {
    font-size: 24px; }
  h1 {
    font-size: 66px;
    margin: 49px 0 68px; }
  .name-author {
    font-size: 61px;
    max-width: 520px; }
  .home {
    padding: 237px 0 131px; }
    .home .btn {
      margin: 73px 0 84px; }
  .home-img {
    max-width: 800px; }
  .home-description {
    max-width: 380px; }
    .home-description p {
      font-size: 36px; }
    .home-description span {
      font-size: 33px;
      display: none;
      color: #fff; }
    .home-description .d-tablet {
      display: block; }
  .date-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
    font-size: 36px; }
  .date {
    padding: 0;
    margin: 0 0 32px;
    border: none;
    font-size: 36px;
    line-height: 1.22; }
  .date-text {
    max-width: 250px; }
  .date-icon {
    max-width: 115px; }
  .slogan {
    max-width: 450px;
    line-height: 1.22; }
  .for-whom {
    padding: 119px 0 140px; }
  h2 {
    margin: 0 auto 92px; }
  .course-result {
    margin: 0 0 65px; }
  .teacher {
    padding: 166px 0 163px; }
    .teacher h2 {
      margin: 0 auto 70px; }
    .teacher .btn {
      margin: 0 auto; }
  .list-star {
    margin: 0 0 140px; }
  .teacher-content {
    width: 100%;
    padding: 0; }
    .teacher-content h3 {
      margin: 0 auto 55px;
      text-align: center;
      max-width: 470px; }
  .teacher-photo {
    margin: 0 auto 152px;
    max-width: 657px; }
    .teacher-photo.d-pc {
      display: none; }
    .teacher-photo.d-tablet {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .programs {
    padding: 141px 0 150px; }
    .programs h2 {
      margin: 0 auto 136px; }
    .programs .btn {
      margin: 74px auto 0; }
  .program-box {
    margin: 0 0 75px;
    padding: 66px 42px 68px; }
    .program-box__head {
      max-width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding: 0 0 54px 0;
      margin: 0 0 54px;
      border: none;
        border-bottom: 4px solid #0d67eb; }
    .program-box__body {
      width: 100%;
      padding: 0; }
    .program-box__name {
      margin: 0 auto 0 0; }
  .list-info__text {
    max-width: 210px; }
  .link-toggle {
    margin: 0 auto; }
  .format {
    padding: 135px 0 155px; }
    .format h2 {
      margin: 0 auto 47px; }
  .list-number li {
    width: 100%;
    margin: 0 0 78px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .list-number li:last-child {
      margin: 0; }
  .list-number br {
    display: none; }
  .list-number .text {
    max-width: 500px; }
  .list-number .number {
    margin: 0 33px 0 0; }
  .steps {
    padding: 146px 0 154px; }
    .steps h2 {
      margin: 0 auto 136px; }
  .payments {
    padding: 167px 0 87px; }
    .payments h2 {
      margin: 0 auto 108px; }
  .col-3 {
    width: 100%; }
  .payments-card {
    min-height: 561px; }
  footer h3 br {
    display: block; }
  .question {
    padding: 137px 0 126px; }
  .block_title {
    padding: 23px 45px; }
  .block_title {
    padding: 30px 45px; } }

@media only screen and (max-width: 768px) {
  header {
    padding: 32px 0; }
    header a {
      display: none; }
    header .logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .home {
    background: url("../img/bg1-tablet.jpg") no-repeat center;
      background-size: cover; }
  .home-img {
    bottom: 75px;
    max-width: 742px;
    right: auto;
    left: 26px; }
  .d-pc {
    display: none; }
  .d-tablet {
    display: block; }
  .container {
    padding: 0 15px; }
  .col-4 {
    width: 100%; }
  .for-whom h3 {
    margin: 0 auto;
    max-width: 610px; }
    .for-whom h3 br {
      display: none; }
  .course-result h3 {
    max-width: 645px;
    margin: 0 auto 98px; }
  .about-course h3 {
    max-width: none;
    margin: 0 auto 40px; }
    .about-course h3 br {
      display: block; }
  .format h2 {
    max-width: 645px; }
  .format-description {
    margin: 0 auto 134px;
    max-width: 600px; }
  .steps h2 {
    max-width: 650px; }
  .payments h2 {
    max-width: 500px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 670px) {
  .logo {
    max-width: 221px; }
  header {
    padding: 20px 0; }
  .home-img {
    max-width: 464px;
    bottom: 70px;
    left: auto;
    right: 0; }
  h1 {
    font-size: 41px;
    margin: 31px 0 41px; }
  .name-author {
    font-size: 38px;
    max-width: 330px; }
  .home {
    padding: 149px 0 82px; }
    .home .btn {
      margin: 45px 0 51px; }
  .home-description {
    max-width: 240px; }
    .home-description p {
      font-size: 22.5px; }
    .home-description span {
      font-size: 20px;
      max-width: 180px; }
  .btn {
    font-size: 13px;
    padding: 16px 27px; }
  .date-wrapper {
    font-size: 22.5px; }
  .slogan {
    max-width: 290px; }
  .date {
    font-size: 22.5px;
    margin: 0 0 20px; }
  .date-text {
    max-width: 160px; }
  .date-icon {
    max-width: 73px;
    margin: 0 19px 0 0; }
  .for-whom {
    padding: 75px 0 88px; }
    .for-whom h3 {
      font-size: 34.5px; }
  .for-whom-box {
    margin: 0 0 39px; }
    .for-whom-box__text {
      max-width: 310px; }
    .for-whom-box__icon {
      margin: 0 auto 20px;
      height: 66px; }
  .about-course {
    font-size: 25px;
    margin: 36px auto 69px; }
    .about-course h3 {
      letter-spacing: -0.35px;
      margin: 0 auto 30px; }
  .course-result {
    margin: 0 0 68px; }
    .course-result h3 {
      margin: 0 auto 60px; }
  .list-check {
    font-size: 25px; }
    .list-check li {
      padding: 0 0 0 57px;
      margin: 0 0 27px; }
      .list-check li:last-child {
        margin: 0; }
      .list-check li:before {
        width: 39px;
        height: 39px; }
  h2 {
    font-size: 34.5px;
    margin: 0 auto 57px; }
  body {
    font-size: 20.5px; }
    body:before {
      height: 4015px;
      background: url("../img/bg2-480.jpg") no-repeat center top;
        background-size: cover; }
  .advantages {
    margin: 93px 0 25px; }
    .advantages h2 {
      margin: 0 auto 85px; }
  .advantages-box {
    font-size: 19px;
    margin: 0 0 70px; }
    .advantages-box__icon {
      max-width: 163px; }
    .advantages-box__text {
      max-width: 220px; }
    .advantages-box h3 {
      font-size: 20.5px; }
  .teacher {
    padding: 105px 0 102px; }
    .teacher h2 {
      margin: 0 auto 44px; }
  .teacher-content h3 {
    margin: 0 auto 93px;
    font-size: 34.5px;
    max-width: 300px; }
  .teacher-photo {
    margin: 0 auto 94px;
    max-width: 441px; }
  .list-star {
    margin: 0 0 87px; }
    .list-star li {
      margin: 0 0 30px; }
      .list-star li:last-child {
        margin: 0; }
      .list-star li:before {
        min-width: 23px;
        width: 23px;
        height: 23px;
        margin: 0 13px 0 0; }
  .programs {
    padding: 88px 0 93px; }
    .programs h2 {
      margin: 0 auto 84px; }
    .programs .btn {
      margin: 45px auto 0; }
  .program-box {
    margin: 0 0 46px;
    padding: 42px 26px 42px 28px;
    font-size: 20.5px; }
    .program-box__head {
      padding: 0 0 34px;
      margin: 0 0 34px; }
    .program-box__name {
      font-size: 23.5px; }
    .program-box h3 {
      margin: 0 0 20px; }
  .list-info {
    font-size: 20.5px; }
    .list-info li {
      margin: 0 0 34px; }
      .list-info li:last-child {
        margin: 0; }
    .list-info__text {
      max-width: 140px; }
    .list-info__icon {
      width: 44px;
      min-width: 44px;
      margin: 0 20px 0 0; }
  .list-dots li:before {
    font-size: 20.5px; }
  .link-toggle {
    font-size: 14.5px; }
  .format {
    padding: 87px 0 96px; }
    .format h2 {
      margin: 0 auto 29px;
      max-width: 420px; }
  .format-description {
    font-size: 20.5px;
    max-width: 400px;
    margin: 0 auto 83px; }
  .list-number li {
    margin: 0 0 49px; }
    .list-number li:last-child {
      margin: 0; }
  .list-number .number {
    margin: 0 20px 0 0;
    width: 61px;
    height: 61px;
    min-width: 61px;
    font-size: 30px; }
  .list-number .text {
    max-width: 310px; }
  .steps {
    padding: 90px 0 95px; }
    .steps h2 {
      margin: 0 auto 85px; }
  .steps-box {
    margin: 0 auto 144px;
    padding: 0 0 60px; }
    .steps-box__text {
      max-width: 260px;
      margin: 0 auto; }
    .steps-box__icon {
      max-width: 63px;
      margin: 0 auto 14px; }
    .steps-box .number {
      width: 31px;
      height: 31px;
      font-size: 19px; }
  .steps-box2 {
    padding: 60px 0 0;
    margin: 0 auto; }
    .steps-box2 .steps-box__icon {
      margin: 0 auto 25px; }
    .steps-box2 .steps-box__text {
      max-width: 310px;
      margin: 0 auto; }
    .steps-box2 .number {
      top: 0; }
      .steps-box2 .number:before {
        width: 3px;
        height: 131px;
        top: -140px; }
  .payments {
    padding: 106px 0 53px; }
    .payments .col-3 {
      margin: 0 0 57px; }
    .payments h2 {
      margin: 0 auto 67px;
      max-width: 320px; }
  .payments-card {
    min-height: 351px;
    padding: 43px 20px 53px;
    max-width: 263px; }
    .payments-card .btn {
      font-size: 11px;
      padding: 17px 10px; }
    .payments-card h3 {
      font-size: 30px;
      margin: 0 0 22px; }
    .payments-card__price {
      font-size: 30px;
      margin: 0 auto 27px; }
    .payments-card h4 {
      font-size: 18.5px; }
    .payments-card .box-text {
      font-size: 18.5px; }
  .callback {
    padding: 95px 0 98px; }
    .callback h3 {
      font-size: 20.5px; }
    .callback .btn {
      max-width: 208px;
      padding: 17px 20px;
      margin: 23px auto 0;
      font-size: 11px; }
  .question {
    padding: 86px 0 73px; }
    .question h2 {
      margin: 0 auto 94px; }
  .block_title {
    padding: 14px 25px; }
  .block_hover {
    padding: 20px 25px; }
  .panel_heading {
    margin: 0 0 10px; }
  .accordion-icon {
    width: 35px;
    height: 35px;
    min-width: 35px; }
    .accordion-icon:after {
      width: 20px; }
    .accordion-icon:before {
      height: 20px; }
  footer {
    margin: 0 0 478px; }
    footer h3 {
      font-size: 34px; }
    footer .box-text {
      margin: 32px auto 84px;
      max-width: 340px; }
  .list-social li {
    margin: 0 23px 0 0; }
    .list-social li:last-child {
      margin: 0; }
    .list-social li a {
      width: 54px;
      height: 54px;
      min-width: 54px;
      padding: 12px; } }

@media only screen and (max-width: 420px) {
  h1 {
    font-size: 34px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 370px) {
  /**/ }
