/*==========  Desktop First  ==========*/
@media only screen and (max-width: 1300px) {
  .home-img {
    max-width: 900px; }
  .advantages {
    margin: 149px 0 47px; }
    .advantages h2 {
      margin: 0 auto 136px; } }

@media only screen and (max-width: 1200px) {
  .col-4 {
    width: 50%; }
  .for-whom-box {
    text-align: center;
    margin: 0 0 72px; }
    .for-whom-box__icon {
      margin: 0 auto 36px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .for-whom-box br {
      display: none; }
    .for-whom-box__text {
      max-width: 490px;
      margin: 0 auto; }
  .about-course {
    margin: 51px auto 112px;
    letter-spacing: -0.4px; }
    .about-course h3 {
      margin: 0 auto 98px; }
  .list-check li {
    padding: 0 0 0 90px;
    width: 100%;
    margin: 0 0 43px; }
    .list-check li:nth-child(even) {
      width: 100%; }
    .list-check li:first-child, .list-check li:nth-child(3) {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1; }
  .advantages-box {
    margin: 0 0 118px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .advantages-box__text {
      max-width: 350px; }
      .advantages-box__text br {
        display: none; }
  .col-2 {
    width: 100%; }
  .teacher-photo {
    max-width: 500px; }
  .teacher-content {
    width: calc(100% - 500px);
    padding: 0 20px 0 0; }
  .steps-box {
    margin: 0 auto 222px;
    padding: 0 0 100px;
    position: relative; }
    .steps-box .number {
      right: auto;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      bottom: 0;
      top: auto; }
  .steps-box2 {
    margin: 0 auto;
    padding: 100px 0 0; }
    .steps-box2 .number {
      top: 10px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0); }
  .col-3 {
    width: 50%; }
  .payments {
    padding: 167px 0 90px; }
    .payments .col-3 {
      margin: 0 0 90px; }
  .payments-card {
    max-width: 420px;
    margin: 0 auto; }
  .callback {
    padding: 152px 0 157px; }
    .callback .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .callback .btn {
      margin: 39px auto 0; }
    .callback h3 {
      text-align: center; }
      .callback h3 strong {
        display: block; }
  footer {
    margin: 0 0 766px; }
    footer .box-text {
      margin: 52px auto 137px;
      max-width: 540px; }
  body:before {
    height: 6423px; } }

@media only screen and (max-width: 992px) {
  header a {
    font-size: 24px; }
  h1 {
    font-size: 66px;
    margin: 49px 0 68px; }
  .name-author {
    font-size: 61px;
    max-width: 520px; }
  .home {
    padding: 237px 0 131px; }
    .home .btn {
      margin: 73px 0 84px; }
  .home-img {
    max-width: 800px; }
  .home-description {
    max-width: 380px; }
    .home-description p {
      font-size: 36px; }
    .home-description span {
      font-size: 33px;
      display: none; }
    .home-description .d-tablet {
      display: block; }
  .date-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
    font-size: 36px; }
  .date {
    padding: 0;
    margin: 0 0 32px;
    border: none;
    font-size: 36px;
    line-height: 1.22; }
  .date-text {
    max-width: 250px; }
  .date-icon {
    max-width: 115px; }
  .slogan {
    max-width: 450px;
    line-height: 1.22; }
  .for-whom {
    padding: 119px 0 140px; }
  h2 {
    margin: 0 auto 92px; }
  .course-result {
    margin: 0 0 65px; }
  .teacher {
    padding: 166px 0 163px; }
    .teacher h2 {
      margin: 0 auto 70px; }
    .teacher .btn {
      margin: 0 auto; }
  .list-star {
    margin: 0 0 140px; }
  .teacher-content {
    width: 100%;
    padding: 0; }
    .teacher-content h3 {
      margin: 0 auto 55px;
      text-align: center;
      max-width: 470px; }
  .teacher-photo {
    margin: 0 auto 152px;
    max-width: 657px; }
    .teacher-photo.d-pc {
      display: none; }
    .teacher-photo.d-tablet {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .programs {
    padding: 141px 0 150px; }
    .programs h2 {
      margin: 0 auto 136px; }
    .programs .btn {
      margin: 74px auto 0; }
  .program-box {
    margin: 0 0 75px;
    padding: 66px 42px 68px; }
    .program-box__head {
      max-width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding: 0 0 54px 0;
      margin: 0 0 54px;
      border: none;
        border-bottom: 4px solid #0d67eb; }
    .program-box__body {
      width: 100%;
      padding: 0; }
    .program-box__name {
      margin: 0 auto 0 0; }
  .list-info__text {
    max-width: 210px; }
  .link-toggle {
    margin: 0 auto; }
  .format {
    padding: 135px 0 155px; }
    .format h2 {
      margin: 0 auto 47px; }
  .list-number li {
    width: 100%;
    margin: 0 0 78px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .list-number li:last-child {
      margin: 0; }
  .list-number br {
    display: none; }
  .list-number .text {
    max-width: 500px; }
  .list-number .number {
    margin: 0 33px 0 0; }
  .steps {
    padding: 146px 0 154px; }
    .steps h2 {
      margin: 0 auto 136px; }
  .payments {
    padding: 167px 0 87px; }
    .payments h2 {
      margin: 0 auto 108px; }
  .col-3 {
    width: 100%; }
  .payments-card {
    min-height: 561px; }
  footer h3 br {
    display: block; }
  .question {
    padding: 137px 0 126px; }
  .block_title {
    padding: 23px 45px; }
  .block_title {
    padding: 30px 45px; } }

@media only screen and (max-width: 768px) {
  header {
    padding: 32px 0; }
    header a {
      display: none; }
    header .logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .home-img {
    bottom: 75px;
    max-width: 742px;
    right: auto;
    left: 26px; }
  .d-pc {
    display: none; }
  .d-tablet {
    display: block; }
  .container {
    padding: 0 15px; }
  .col-4 {
    width: 100%; }
  .for-whom h3 {
    margin: 0 auto;
    max-width: 610px; }
    .for-whom h3 br {
      display: none; }
  .course-result h3 {
    max-width: 645px;
    margin: 0 auto 98px; }
  .about-course h3 {
    max-width: none;
    margin: 0 auto 40px; }
    .about-course h3 br {
      display: block; }
  .format h2 {
    max-width: 645px; }
  .format-description {
    margin: 0 auto 134px;
    max-width: 600px; }
  .steps h2 {
    max-width: 650px; }
  .payments h2 {
    max-width: 500px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 370px) {
  /**/ }
