@import "vars"

/*==========  section footer ==========*/
footer
  color: #fff
  margin: 0 0 580px
  .box-text
    margin: 50px auto 104px
    text-align: center
    font-weight: 300
  h3
    text-transform: uppercase
    text-align: center
    width: 100%
    margin: 0 auto
    font-size: 55px
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background:
      image: url("../img/bg-text.jpg")
      repeat: no-repeat
      position: center
    text-shadow: 0 0 30px rgba(#474d9c, .95)
    br
      display: none
/*==========  section footer end  ==========*/



/*==========  section modal ==========*/
.modal__div
  position: fixed
  max-width: 600px
  width: 100%
  height: 100%
  top: 45%
  left: 50%
  transform: translate(-50%, -50%)
  z-index: 101
  overflow: auto
  justify-content: center
  align-items: center
  flex-direction: column
  display: none
  opacity: 0

.modal__close
  position: absolute
  right: 10px
  top: 10px
  width: 24px
  height: 24px
  cursor: pointer
  @include d-flex
  &:before, &:after
    content: ''
    position: absolute
    left: 0
    top: 12px
    width: 100%
    height: 2px
    background: $accent
    border-radius: 2px
  &:before
    transform: rotate(45deg)
  &:after
    transform: rotate(135deg)

.modal__wrapper
  background: #fff
  width: 100%
  height: auto
  overflow: auto
  margin: 50px auto
  padding: 30px
  box-sizing: border-box
  position: relative
  h2
    margin: 0 auto 30px
    font-size: 40px
  .box-text
    font-size: 24px

.overlay
  z-index: 100
  position: fixed
  background-color: #000
  opacity: 0.8
  -moz-opacity: 0.8
  filter: alpha(opacity = 80)
  width: 100%
  height: 100%
  top: 0
  left: 0
  cursor: pointer
  display: none
/*==========  section modal end  ==========*/